@model IEnumerable<MovieWebApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
    var upcomingParms = new Dictionary<string, string>
    {
        { "category", "upcoming" },

    };
    var popularParms = new Dictionary<string, string>
    {
        { "category", "popular" },

    };
    var topratedParms = new Dictionary<string, string>
    {
        { "category", "toprated" },

    };
}

<h1>@ViewData["Category"]</h1>
<h2>@ViewData["TMDbTitle"]</h2>
<dl>
    <dt><a asp-action="index" asp-all-route-data="upcomingParms">Upcoming</a></dt>
    <dt><a asp-action="index" asp-all-route-data="popularParms">Popular</a></dt>
    <dt><a asp-action="index" asp-all-route-data="topratedParms">Top Rated</a></dt>
</dl>

<hr>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movieid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.popularity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vote_average)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movieid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.popularity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vote_average)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
